./update.sh
./2020/10/24/pierwiastek
./2020/10/15/pinezki
./2020/10/15/losowa
./2020/10/31/linie_montaz
./2020/10/28/psikus1
./2020/10/20/wyszukiwanie_binarne
./2020/07/28/friday
./2020/07/28/sztanga
./2020/07/28/zbiory
./2020/11/15/gta
./2020/11/15/kwadratowanie
./2020/11/05/programy
./2020/11/05/dwukrotnosc_sumy_cyfr
./2020/11/07/dwukrotnosc_sumy_cyfr
./2020/11/11/wskazniki
./2020/11/14/bankiet
./2020/11/14/najdluzszy_wspolny_podciag
./2020/11/18/krolowe
./2020/11/25/brydz
./2020/11/04/zegarek
./2020/11/17/wszystkie_ciagi
./2020/11/26/zmienno
./2020/11/21/zbieranie
./2020/12/09/tyrolka3
./2020/12/23/drzewa
./2020/12/23/porzadek
./2020/12/30/kafelki
./2020/12/10/liczby_slownie
./2020/12/31/kafelki
./2020/12/03/tyrolka
./2020/12/12/ogrodzenie
./2020/12/16/waz
./2020/12/16/waz2
./2020/12/02/liczby_slownie
./2020/12/17/liczby_krol
./2020/08/05/choinka
./2020/08/05/dzielniki
./2020/08/22/halloween
./2020/08/22/wielopaki
./2020/08/17/szczupak
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/update.sample
./.git/hooks/commit-msg.sample
./.git/hooks/pre-commit.sample
./.git/hooks/pre-receive.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-merge-commit.sample
./2021/01/05/zygzak
./2021/01/06/pocztowka
./2021/01/06/kaledarze
