./update.sh
./10/24/pierwiastek
./10/15/pinezki
./10/15/losowa
./10/31/linie_montaz
./10/28/psikus1
./10/20/wyszukiwanie_binarne
./07/28/friday
./07/28/sztanga
./07/28/zbiory
./11/15/gta
./11/15/kwadratowanie
./11/05/programy
./11/05/dwukrotnosc_sumy_cyfr
./11/07/dwukrotnosc_sumy_cyfr
./11/11/wskazniki
./11/14/bankiet
./11/14/najdluzszy_wspolny_podciag
./11/18/krolowe
./11/25/brydz
./11/04/zegarek
./11/17/wszystkie_ciagi
./11/21/zbieranie
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/update.sample
./.git/hooks/commit-msg.sample
./.git/hooks/pre-commit.sample
./.git/hooks/pre-receive.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-merge-commit.sample
./08/05/choinka
./08/05/dzielniki
./08/22/halloween
./08/22/wielopaki
./08/17/szczupak
